body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1f1f;
    color: #fff;
}
main{
    text-align: center;
    background-color: #333333;
    padding: 20px;
    border-radius: 20px;
}